<h5>Por país:</h5>
<form (ngSubmit)="searchCountries()">
    <input type="text" class="form-control" placeholder="Buscar país..." name="query" [(ngModel)]="query">
</form>

<div class="alert alert-danger" *ngIf="errors">
        No se encontró nada con el término
</div>

<table class="table table-hover" *ngIf="results.length">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of results; let i=index"> <!-- Esto es lo que tenemos que repetir por cada país que encuentre -->
            <td> {{i+1}} </td> <!-- Aquí obtendremos el número de resultado -->
            <td>
                <img class="small-flag" [src]="country.flags.png" > <!-- Aquí obtendremos la url de la bandera  -->
            </td>
            <td> {{country.capital}}, {{country.name.common}}</td> <!-- La capital, el nombre del país y la población lo obtendremos de la api -->
            <td> {{country.population}}</td>
            <td>
                <a [routerLink]="['pais/',country.name.common]">Ver...</a> <!-- Esto lo dejamos así de momento -->
            </td>
        </tr>
    </tbody>
</table>
